
@import url('https://fonts.googleapis.com/css2?family=Jura&family=Source+Sans+3:wght@500&display=swap');

* {

    margin: 0;
    font-family: 'Jura', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
}

.main_header {
    
    text-align: center;
    font-size: 2.5rem;
    height: 5rem;
    color: whitesmoke;
    background-color: rgb(17, 17, 17);

}

.home{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('/img/background.jpg');
    background-size: cover;

    section {

        h1 {

           font-size: 70px;

        }

        p {
            font-size: 20px;
            text-align: center;            
        }

        section {

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            
            
            a {
                color: white;
                margin-top: 20px;
                display: inline-block;
                font-size: 20px;
                text-align: center;
                width: 100px !important;
                height: 30px !important;
                background-color: #6c757d;
                border-radius: 3px;
            }

            .signup {

                background-color: #5e60e7;

            }

        }

    }

}

nav {

    a {

        text-decoration: none;
        color: white;


    }

    h2 {

        color: maroon;

    }

    font-size: 2rem;
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(17, 17, 17);

}

.admin_bar{

    a {

        color:maroon;

    }

}

#welcome{

    text-align: center;

}

.profile {


    width: 100vw;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;


    section {
        
        width: 80%;
        height: 300px;
        background-color: #191b1c;
        border-radius: 10px;
        display: flex;
        align-items: center;

        h2 {

            color:whitesmoke
    
        }
    
        img {
            
            margin: 30px;
            border-radius: 200px;
            width: 200px;
            height: 200px;
    
        }


    }
    

}

.items {

    margin-top: 20px;
  
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .items_holder {

        width: 200px;
        height: 200px;
        border-radius: 10px;
        background-color: #191b1c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        img {

           width: auto;
           height: 65%;
           border-radius: 5px;

        }

        p {

            text-align: center;

        }

    }

}